--
-- PostgreSQL database dump
--

\restrict ebT3bg9PHqDzanJY0gP83ZLOOc3TbsPfwuBc9riPW0I0elLFqEU4bd7k6kg63mg

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO postgres;

--
-- Name: gender; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.gender AS ENUM (
    'male',
    'female',
    'transgender',
    'other'
);


ALTER TYPE public.gender OWNER TO postgres;

--
-- Name: item_payment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.item_payment_status AS ENUM (
    'pending',
    'completed',
    'failed',
    'refunded'
);


ALTER TYPE public.item_payment_status OWNER TO postgres;

--
-- Name: item_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.item_status AS ENUM (
    'pending',
    'processing',
    'shipped',
    'delivered',
    'cancelled'
);


ALTER TYPE public.item_status OWNER TO postgres;

--
-- Name: order_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.order_status AS ENUM (
    'pending',
    'processing',
    'shipped',
    'delivered',
    'cancelled'
);


ALTER TYPE public.order_status OWNER TO postgres;

--
-- Name: payment_method; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_method AS ENUM (
    'cod',
    'jazzcash',
    'easypaisa',
    'bank_transfer'
);


ALTER TYPE public.payment_method OWNER TO postgres;

--
-- Name: payment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_status AS ENUM (
    'pending',
    'completed',
    'failed',
    'refunded'
);


ALTER TYPE public.payment_status OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: postgres
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO postgres;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: postgres
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO postgres;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: postgres
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: carousel_items_old; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carousel_items_old (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_carousel_id uuid NOT NULL,
    index integer NOT NULL,
    images text NOT NULL,
    image_alt character varying(255) DEFAULT 'Banner Background'::character varying,
    title character varying(255),
    title_color character varying(100),
    tile_background character varying(100),
    description text,
    description_color character varying(100),
    discription_background_color character varying(100),
    button_text character varying(255),
    button_text_color character varying(100),
    button_hover_text_color character varying(100),
    button_background character varying(100),
    button_hover_background character varying(100),
    button_shadow boolean DEFAULT false,
    button_shadow_color character varying(100),
    button_border boolean DEFAULT false,
    button_border_color character varying(100),
    product_id uuid,
    font_family text[] DEFAULT '{Arial}'::text[],
    category character varying(255),
    overlay_opacity integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.carousel_items_old OWNER TO postgres;

--
-- Name: createStore; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."createStore" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_name character varying(255) NOT NULL,
    store_logo text NOT NULL,
    category character varying(255),
    owner_id uuid NOT NULL,
    click_count integer DEFAULT 0 NOT NULL,
    rating numeric(2,1) DEFAULT '0'::numeric NOT NULL,
    total_ratings integer DEFAULT 0 NOT NULL,
    total_sells integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."createStore" OWNER TO postgres;

--
-- Name: follow_lists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.follow_lists (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    follower_id uuid NOT NULL,
    following_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.follow_lists OWNER TO postgres;

--
-- Name: store_carousel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_carousel (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id uuid NOT NULL,
    carousels jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.store_carousel OWNER TO postgres;

--
-- Name: store_carousel_old; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_carousel_old (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.store_carousel_old OWNER TO postgres;

--
-- Name: store_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_cart (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    store_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.store_cart OWNER TO postgres;

--
-- Name: store_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.store_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.store_cart_id_seq OWNER TO postgres;

--
-- Name: store_cart_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.store_cart_id_seq OWNED BY public.store_cart.id;


--
-- Name: store_cart_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_cart_item (
    id bigint NOT NULL,
    store_cart_id bigint NOT NULL,
    product_id uuid NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    color_id bigint,
    color_value character varying(50),
    color_index integer,
    size character varying(50),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.store_cart_item OWNER TO postgres;

--
-- Name: store_cart_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.store_cart_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.store_cart_item_id_seq OWNER TO postgres;

--
-- Name: store_cart_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.store_cart_item_id_seq OWNED BY public.store_cart_item.id;


--
-- Name: store_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_order (
    _id uuid DEFAULT gen_random_uuid() NOT NULL,
    customer_id uuid NOT NULL,
    customer_name character varying(255) NOT NULL,
    customer_email character varying(255) NOT NULL,
    customer_phone character varying(50) NOT NULL,
    customer_address text NOT NULL,
    customer_city character varying(100),
    customer_country character varying(100),
    customer_postal_code character varying(20),
    store_id uuid NOT NULL,
    store_owner_id uuid NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    shipping_cost numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    final_amount numeric(10,2) NOT NULL,
    order_status public.order_status DEFAULT 'pending'::public.order_status NOT NULL,
    payment_method public.payment_method DEFAULT 'cod'::public.payment_method NOT NULL,
    payment_status public.payment_status DEFAULT 'pending'::public.payment_status NOT NULL,
    tracking_number character varying(255),
    notes text,
    is_notified boolean DEFAULT false,
    notification_sent_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.store_order OWNER TO postgres;

--
-- Name: store_order_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_order_item (
    _id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid NOT NULL,
    product_id uuid NOT NULL,
    product_name character varying(255) NOT NULL,
    product_images text[] DEFAULT '{}'::text[] NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    color character varying(100),
    size character varying(50),
    item_status public.item_status DEFAULT 'pending'::public.item_status NOT NULL,
    item_payment_status public.item_payment_status DEFAULT 'pending'::public.item_payment_status NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.store_order_item OWNER TO postgres;

--
-- Name: store_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_product (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id uuid NOT NULL,
    product_name character varying(255) NOT NULL,
    description text DEFAULT ''::text,
    warnings text DEFAULT ''::text,
    product_price numeric(10,2) NOT NULL,
    product_discount numeric(5,2) DEFAULT '0'::numeric,
    final_price numeric(10,2) DEFAULT '0'::numeric,
    product_sizes text[] DEFAULT '{}'::text[],
    product_colors jsonb DEFAULT '[]'::jsonb,
    product_images text[] NOT NULL,
    tags text[] DEFAULT '{}'::text[],
    variants text[] DEFAULT '{}'::text[],
    specifications text[] DEFAULT '{}'::text[],
    category character varying(255),
    stock integer DEFAULT 0,
    orders_all_time integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.store_product OWNER TO postgres;

--
-- Name: store_ratings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_ratings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_id uuid NOT NULL,
    user_id uuid NOT NULL,
    rating integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.store_ratings OWNER TO postgres;

--
-- Name: stores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stores (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    store_name character varying(255) NOT NULL,
    store_logo text NOT NULL,
    category character varying(255),
    owner_id uuid NOT NULL,
    click_count integer DEFAULT 0 NOT NULL,
    rating numeric(2,1) DEFAULT '0'::numeric NOT NULL,
    total_ratings integer DEFAULT 0 NOT NULL,
    total_sells integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.stores OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password text NOT NULL,
    full_name character varying(255),
    bio text,
    gender public.gender,
    avatar text NOT NULL,
    cover_image text,
    refresh_token text,
    otp text,
    whatsapp character varying(255),
    store_link text,
    facebook text,
    instagram text,
    productlink text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: watch_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.watch_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    video_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.watch_history OWNER TO postgres;

--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: postgres
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Name: store_cart id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_cart ALTER COLUMN id SET DEFAULT nextval('public.store_cart_id_seq'::regclass);


--
-- Name: store_cart_item id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_cart_item ALTER COLUMN id SET DEFAULT nextval('public.store_cart_item_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: postgres
--

COPY drizzle.__drizzle_migrations (id, hash, created_at) FROM stdin;
16	20260414173632_shallow_earthquake	1776971151905
17	20260414174127_white_micromax	1776971151905
49	20260424014800_messy_winter_soldier	1776995696999
\.


--
-- Data for Name: carousel_items_old; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: createStore; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."createStore" (id, store_name, store_logo, category, owner_id, click_count, rating, total_ratings, total_sells, created_at, updated_at) FROM stdin;
4e46239c-2110-435b-9ca4-eb25c954cdc1	My tech	http://res.cloudinary.com/dpgvvqhoc/image/upload/v1775820567/qq2vpr7yy02zcvrdxt0m.jpg	electronics	22f78e07-18e7-45da-a45c-9d579478ff95	0	0.0	0	0	2026-04-10 16:29:29.247744	2026-04-10 17:41:44.287
\.


--
-- Data for Name: follow_lists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.follow_lists (id, follower_id, following_id, created_at) FROM stdin;
\.


--
-- Data for Name: store_carousel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_carousel (id, store_id, carousels, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: store_carousel_old; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_carousel_old (id, store_id, created_at, updated_at) FROM stdin;
bc70809f-b915-4e91-a372-1b7ffbef48b4	4e46239c-2110-435b-9ca4-eb25c954cdc1	2026-04-15 16:52:25.361647	2026-04-15 16:52:25.361647
\.


--
-- Data for Name: store_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_cart (id, user_id, store_id, created_at, updated_at) FROM stdin;
1	22f78e07-18e7-45da-a45c-9d579478ff95	4e46239c-2110-435b-9ca4-eb25c954cdc1	2026-04-22 16:41:58.512747	2026-04-22 16:41:58.512747
\.


--
-- Data for Name: store_cart_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_cart_item (id, store_cart_id, product_id, quantity, color_id, color_value, color_index, size, created_at, updated_at) FROM stdin;
1	1	8a0c23a6-2713-4c44-9e41-ba9b1460595d	3	\N	\N	\N	\N	2026-04-22 16:41:58.533605	2026-04-22 17:53:07.572
2	1	8a0c23a6-2713-4c44-9e41-ba9b1460595d	1	1	red	0	\N	2026-04-22 22:56:37.89216	2026-04-22 22:56:37.89216
\.


--
-- Data for Name: store_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: store_order_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_order_item (_id, order_id, product_id, product_name, product_images, quantity, color, size, item_status, item_payment_status, created_at, updated_at) FROM stdin;
dbc873f5-81cf-4a2a-97d4-8ca1305a1a21	6e629eae-5dc6-4bcd-8661-93bf01e34e4f	8a0c23a6-2713-4c44-9e41-ba9b1460595d	bb	{https://res.cloudinary.com/dpgvvqhoc/image/upload/v1776795859/bgpafmipm0iaeonlvlm5.png,https://res.cloudinary.com/dpgvvqhoc/image/upload/v1776795859/bubvfvzyasi0exnxgufj.png}	2	\N	\N	pending	pending	2026-04-24 19:00:24.277	2026-04-24 19:00:24.277
\.


--
-- Data for Name: store_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: store_ratings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_ratings (id, store_id, user_id, rating, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stores (id, store_name, store_logo, category, owner_id, click_count, rating, total_ratings, total_sells, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: watch_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.watch_history (id, user_id, video_id, created_at) FROM stdin;
\.


--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: postgres
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 49, true);


--
-- Name: store_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_cart_id_seq', 1, true);


--
-- Name: store_cart_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_cart_item_id_seq', 2, true);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: postgres
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: carousel_items_old carousel_items_old_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carousel_items_old
    ADD CONSTRAINT carousel_items_old_pkey PRIMARY KEY (id);


--
-- Name: createStore createStore_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."createStore"
    ADD CONSTRAINT "createStore_pkey" PRIMARY KEY (id);


--
-- Name: createStore createStore_store_name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."createStore"
    ADD CONSTRAINT "createStore_store_name_unique" UNIQUE (store_name);


--
-- Name: follow_lists follow_lists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follow_lists
    ADD CONSTRAINT follow_lists_pkey PRIMARY KEY (id);


--
-- Name: store_carousel_old store_carousel_old_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_carousel_old
    ADD CONSTRAINT store_carousel_old_pkey PRIMARY KEY (id);


--
-- Name: store_carousel_old store_carousel_old_store_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_carousel_old
    ADD CONSTRAINT store_carousel_old_store_id_unique UNIQUE (store_id);


--
-- Name: store_carousel store_carousel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_carousel
    ADD CONSTRAINT store_carousel_pkey PRIMARY KEY (id);


--
-- Name: store_carousel store_carousel_store_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_carousel
    ADD CONSTRAINT store_carousel_store_id_unique UNIQUE (store_id);


--
-- Name: store_cart_item store_cart_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_cart_item
    ADD CONSTRAINT store_cart_item_pkey PRIMARY KEY (id);


--
-- Name: store_cart store_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_cart
    ADD CONSTRAINT store_cart_pkey PRIMARY KEY (id);


--
-- Name: store_cart store_cart_user_store_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_cart
    ADD CONSTRAINT store_cart_user_store_unique UNIQUE (user_id, store_id);


--
-- Name: store_order_item store_order_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_order_item
    ADD CONSTRAINT store_order_item_pkey PRIMARY KEY (_id);


--
-- Name: store_order store_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_order
    ADD CONSTRAINT store_order_pkey PRIMARY KEY (_id);


--
-- Name: store_product store_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_product
    ADD CONSTRAINT store_product_pkey PRIMARY KEY (id);


--
-- Name: store_ratings store_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_ratings
    ADD CONSTRAINT store_ratings_pkey PRIMARY KEY (id);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: stores stores_store_name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_store_name_unique UNIQUE (store_name);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_facebook_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_facebook_unique UNIQUE (facebook);


--
-- Name: users users_instagram_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_instagram_unique UNIQUE (instagram);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_store_link_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_store_link_unique UNIQUE (store_link);


--
-- Name: users users_username_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_unique UNIQUE (username);


--
-- Name: users users_whatsapp_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_whatsapp_unique UNIQUE (whatsapp);


--
-- Name: watch_history watch_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watch_history
    ADD CONSTRAINT watch_history_pkey PRIMARY KEY (id);


--
-- Name: createStore_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "createStore_category_idx" ON public."createStore" USING btree (category);


--
-- Name: createStore_owner_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "createStore_owner_idx" ON public."createStore" USING btree (owner_id);


--
-- Name: createStore_rating_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "createStore_rating_idx" ON public."createStore" USING btree (rating);


--
-- Name: store_cart_item_cart_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_cart_item_cart_idx ON public.store_cart_item USING btree (store_cart_id);


--
-- Name: store_cart_item_product_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_cart_item_product_idx ON public.store_cart_item USING btree (product_id);


--
-- Name: store_cart_store_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_cart_store_idx ON public.store_cart USING btree (store_id);


--
-- Name: store_cart_user_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_cart_user_idx ON public.store_cart USING btree (user_id);


--
-- Name: store_cart_user_store_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_cart_user_store_idx ON public.store_cart USING btree (user_id, store_id);


--
-- Name: store_order_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_order_created_at_idx ON public.store_order USING btree (created_at);


--
-- Name: store_order_customer_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_order_customer_idx ON public.store_order USING btree (customer_id);


--
-- Name: store_order_item_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_order_item_order_idx ON public.store_order_item USING btree (order_id);


--
-- Name: store_order_item_product_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_order_item_product_idx ON public.store_order_item USING btree (product_id);


--
-- Name: store_order_item_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_order_item_status_idx ON public.store_order_item USING btree (item_status);


--
-- Name: store_order_payment_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_order_payment_status_idx ON public.store_order USING btree (payment_status);


--
-- Name: store_order_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_order_status_idx ON public.store_order USING btree (order_status);


--
-- Name: store_order_store_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_order_store_idx ON public.store_order USING btree (store_id);


--
-- Name: store_order_store_owner_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_order_store_owner_idx ON public.store_order USING btree (store_owner_id);


--
-- Name: store_product_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_product_category_idx ON public.store_product USING btree (category);


--
-- Name: store_product_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX store_product_name_idx ON public.store_product USING btree (store_id, product_name);


--
-- Name: store_product_store_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_product_store_idx ON public.store_product USING btree (store_id);


--
-- Name: store_ratings_store_user_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_ratings_store_user_idx ON public.store_ratings USING btree (store_id, user_id);


--
-- Name: stores_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stores_category_idx ON public.stores USING btree (category);


--
-- Name: stores_owner_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stores_owner_idx ON public.stores USING btree (owner_id);


--
-- Name: stores_rating_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stores_rating_idx ON public.stores USING btree (rating);


--
-- Name: unique_follow; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX unique_follow ON public.follow_lists USING btree (follower_id, following_id);


--
-- Name: createStore createStore_owner_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."createStore"
    ADD CONSTRAINT "createStore_owner_id_users_id_fk" FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: follow_lists follow_lists_follower_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follow_lists
    ADD CONSTRAINT follow_lists_follower_id_users_id_fk FOREIGN KEY (follower_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: follow_lists follow_lists_following_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.follow_lists
    ADD CONSTRAINT follow_lists_following_id_users_id_fk FOREIGN KEY (following_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: store_cart_item store_cart_item_store_cart_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_cart_item
    ADD CONSTRAINT store_cart_item_store_cart_id_fk FOREIGN KEY (store_cart_id) REFERENCES public.store_cart(id) ON DELETE CASCADE;


--
-- Name: store_order_item store_order_item_order_id_store_order__id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_order_item
    ADD CONSTRAINT store_order_item_order_id_store_order__id_fk FOREIGN KEY (order_id) REFERENCES public.store_order(_id) ON DELETE CASCADE;


--
-- Name: store_product store_product_store_id_createStore_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_product
    ADD CONSTRAINT "store_product_store_id_createStore_id_fk" FOREIGN KEY (store_id) REFERENCES public."createStore"(id) ON DELETE CASCADE;


--
-- Name: store_ratings store_ratings_store_id_createStore_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_ratings
    ADD CONSTRAINT "store_ratings_store_id_createStore_id_fk" FOREIGN KEY (store_id) REFERENCES public."createStore"(id) ON DELETE CASCADE;


--
-- Name: store_ratings store_ratings_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_ratings
    ADD CONSTRAINT store_ratings_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: stores stores_owner_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_owner_id_users_id_fk FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: watch_history watch_history_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watch_history
    ADD CONSTRAINT watch_history_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ebT3bg9PHqDzanJY0gP83ZLOOc3TbsPfwuBc9riPW0I0elLFqEU4bd7k6kg63mg

